{% extends 'about/base.html' %}

{% block title %}
  <title>{{ user.first_name }} {{ user.last_name }} - Profile information</title>
{% endblock title %}

{% block content %}
  <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <img src="{{ user.image.url }}" class="rounded-circle" width="250" height="250" alt=""
            style="align-content: center;" />
          <h1 class="fw-dark">{{ user.first_name }} {{ user.last_name }}</h1>
          <p class="lead text-muted">{{ user.headline }}</p>
          <p>
              {% if user.email %}
              <a role="button" class="btn btn-outline-dark" href="mailto:{{ user.email }}" title="Contact via e-mail">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                  </svg>
              </a>
              &nbsp;&nbsp;
              {% endif %}
              {% if user.resume %}
              <a role="button" class="btn btn-outline-dark" href="{{ user.resume.url }}" title="See resume">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
                  </svg>
              </a>
              &nbsp;&nbsp;
              {% endif %}
            
          </p>
        </div>
      </div>

        {% if user.education_set.all %}
        <a class="btn btn-sm btn-success" href="#education" role="button">Education</a>
        {% endif %}
        {% if user.experience_set.all %}
        <a class="btn btn-sm btn-primary" href="#experience" role="button">Work experience</a>
        {% endif %}
    </section>

    {% if user.education_set.all %}
    <div class="bg-white p-5 rounded" id="education">
        <section>
            <div class="bg-light p-5 rounded">
                <h1 style="font-weight: bolder;">Education</h1><br>
        {% for education in user.education_set.all|dictsortreversed:"end_date" %}
                <div class="p-3">
                    <h2>{{ education.degree }}</h2>
                    <h4 style="font-weight: bold;">{{ education.institution }}</h4>
                    <h5 class="text-secondary">{{ education.start_date|date:"Y" }} - {{ education.end_date|date:"Y" }}</h5>
                    <!-- <br> -->
                </div>
                {% endfor %}
            </div>
        </section>  
    </div>

    {% endif %}
    {% if user.experience_set.all %}
    <div class="bg-white p-5 rounded" id="experience">
        <div class="bg-light p-5 rounded">
            <section>
                <h1 style="font-weight: bolder;">Experience</h1><br>
                <div class="row mb-2">
                {% for experience in user.experience_set.all|dictsortreversed:"end_date" %}
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <h2>
                            {{ experience.company }}
                          </h2>
                          <h4 style="font-weight: bolder;">
                            {{ experience.job_title }}
                          </h4>
                          <h5 class="text-secondary">{{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y" }}</h5>
                          <h4 style="padding-top: 20px;">Skills:</h4>
                          <p style="letter-spacing: 5px; line-height: 3;">
                          {% for skill in experience.skills.all %}
                              <input class="btn btn-primary" type="button" value="{{ skill }}">
                              {% endfor %}
                          </p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </section>  
        </div>
    </div>
    {% endif %}
{% endblock content %}